table {
  margin-left: 0px !important;
}

.emoji {
  margin: 0 0 -4px 0 !important;
  vertical-align: baseline !important;
  display: inline-block !important;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.column {
  float: left;
  width: 50%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

pre {
  tab-size: 4;
}

.team-headling {
  text-align: center;
  box-shadow: inset 0 -0.02em #4fb1ba;
}

@media(max-width:767px){
  .team-container .team-member {
    margin-bottom: 15px;
  }
  .team-container .team-member:last-child {
    margin-bottom: 0px;
  }
}

@media(min-width:768px){
  .team-container {
    column-count: 3;
  }
}

.team-member {
  border-style: solid;
  border-color: #4fb1ba59;
  border-width: 1px;
  border-radius: 2px;
  padding-bottom: 20px;
}

.team-member-avatar {
  border-radius: 2px 2px 0 0;
}

.team-member-info {
  display: block;
  text-align: center;
}
.team-member-position {
  font-size: 15px;
  color: #4f5d75;
  font-family: Noto sans-serif;
  font-weight: normal;
}
.team-member-name {
  font-size: 18px;
  font-weight: 400;
  font-family: Noto Sans;
  color: rgb(51, 51, 51);
}

.logo-container {
  text-align: center;
}

.logo-image {
  display: inline-block !important;
  margin-bottom: -16px !important;
}

.logo-text {
  display: block;
  font-size: 16px;
  color: #4f5d75;
  font-family: Noto sans-serif;
  font-weight: normal;
}

.center {
  > img {
    margin-left: auto;
    margin-right: auto;
  }
}
